@inject NSE.WebApp.MVC.Extensions.IUser _appUser

<div>
    <div style="padding-right: 15px">
        <a asp-controller="Carrinho" asp-action="Index" class="widget-header">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">@Model</span>
        </a>
    </div>
</div>
<ul class="navbar-nav align-items-end">
    @if (_appUser.EstaAutenticado())
    {

        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Olá @_appUser.ObterUserEmail()</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Identidade" asp-action="Logout">Sair</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="link-dark text-decoration-none" asp-controller="Identidade" asp-action="Registro">Crie sua conta</a>
        </li>
        <li class="nav-item">
            <span class="ms-1 me-1">|</span>
        </li>
        <li class="nav-item">
            <a class="link-dark text-decoration-none" asp-controller="Identidade" asp-action="Login">Login</a>
        </li>
    }
</ul>
